/*LANDING PAGE*/
.top-section {
  min-height: 500px;
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
a {
  color: white;
}
a:hover {
    color: #e77431;
    text-decoration: none;
}
.top-section h2 {
  text-align: left;
  padding-left: 140px;
  padding-top: 70px;
  font-size: 50px;
  font-family: 'Bohem-Press';
  color: white;
}
.top-section h3 {
  text-align: right;
  padding-right: 140px;
  padding-top: 70px;
  font-size: 50px;
  font-family: 'Bohem-Press';
  color: white;
}
.top-section h1{
  text-align: center;
  padding-top: 90px;
  font-size: 85px;
  font-family: 'Bohem-Press';
  color: white;
}
@font-face {
  font-family: 'Bohem-Press';
   src: url('../fonts/Bohem-Press.ttf');
}

.about{
  min-height: 240px;
}
.about h1 {
  text-align: center;
  font-family: 'Bohem-Press';
  font-size: 40px;
}
.btn-primary{
  border-color: black;
  background-color: #e77431;
  color: white;
  margin-left: 520px;
  margin-top: 10px;
}
.btn-primary:hover{
  background-color: #e77431;
  border-color: black;
}
.columns{
  min-height: 650px;
  text-align: center;
}
.columns h1{
  text-align: center;
  font-family: 'Bohem-Press';
  font-size: 40px;
  color: #e77431;
  padding-bottom: 10px;
}
.columns p{
  text-align: left;
  padding-left: 30px;
  padding-top: 10px;
}
.footer{
  min-height: 180px;
  background-color: #57705c;
  color: white;
  font-size: 18px;
  padding-top: 25px;
  text-align: center;
}


/*YOUR VISIT PAGE*/
.green-bar{
  min-height: 160px;
  background-color: #57705c;
  font-family: 'Bohem-Press';
  color: white;
}
.green-bar h2{
  padding-top: 50px;
  font-size: 35px;
}
.everything{
  min-height: 100px;
}
.everything h1 {
  text-align: center;
  font-family: 'Bohem-Press';
  font-size: 40px;
}
.btn {
  border-color: black;
  background-color: #e77431;
  color: white;
  margin-bottom: 6px;
}
.btn:hover{
  background-color: #e77431;
  border-color: black;
}
.plans h1{
  font-family: 'Bohem-Press';
  font-size: 35px;
}
.plans img {
  margin-left: 115px;
  margin-top: 15px;
}
.get-here h1{
  font-family: 'Bohem-Press';
  font-size: 35px;
}
.google-map{
  text-align: center;
}
.parking h1{
  font-family: 'Bohem-Press';
  font-size: 35px;
}
.trails h1{
  font-family: 'Bohem-Press';
  font-size: 35px;
  text-align: left;
}
.trails2 {
  text-align: center;
}
.rules-warnings h1{
  font-family: 'Bohem-Press';
  font-size: 35px;
}
.rules-warnings a{
  color: white;
  background-color: #583e16;
  font-size: 20px;
}
.rules-warnings a:hover {
    color: #e77431;
    text-decoration: none;
}

.climbing h1{
  font-family: 'Bohem-Press';
  font-size: 35px;
  padding-top: 20px;
}
.climbing img{
  margin-left: 275px;
  margin-bottom: 30px;
}
.climbing a{
  color: white;
  background-color: #583e16;
  font-size: 20px;
}
.climbing a:hover {
    color: #e77431;
    text-decoration: none;
}
.footer2 {
  min-height: 180px;
  background-color: #57705c;
  color: white;
  font-size: 18px;
  padding-top: 25px;
  text-align: center;
}


/*COMMUNITY PAGE*/
.green-bar1{
  min-height: 160px;
  background-color: #57705c;
  font-family: 'Bohem-Press';
  color: white;
}
.green-bar1 h2{
  padding-top: 50px;
  font-size: 35px;
}
.area h1{
  font-family: 'Bohem-Press';
  font-size: 40px;
  text-align: center;
}
.lodging{
  margin-left: 370px;
}
.lodging h1{
  font-family: 'Bohem-Press';
  font-size: 35px;
}
.food{
    margin-left: 370px;
}
.food h1{
  font-family: 'Bohem-Press';
  font-size: 35px;
}
.activities{
  margin-left: 370px;
}
.activites h1{
  font-family: 'Bohem-Press';
  font-size: 35px;
}
.donations h1{
  font-family: 'Bohem-Press';
  font-size: 35px;
}

.footer3{
  margin-top: 20px;
  min-height: 180px;
  background-color: #57705c;
  color: white;
  font-size: 18px;
  padding-top: 25px;
  text-align: center;
}
